@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@layer components {
    @apply h-[38px] px-[14px] py-[8px] flex w-full justify-center items-center gap-[2px] self-stretch
} */

.border-style {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 8.333px;
    justify-content: center;
    align-items: center;
    gap: 11.111px;
    flex-shrink: 0;
    border-radius: 83.333px;
    border: 2px solid #FFF;
    background: var(--apps-status-tags-color-danger, #F00);
    box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.40);
}

.passport-capture {
    width: 335px;
    height: 475.7px;
    border-radius: 10px;
    background: var(--Apps-Background-Color-Dusty-white, #F6F6F6);
}

.face-recogation {
    width: 260px;
    height: 260px;
    border-radius: 812.5px;
    /* background: var(--Apps-Primary-Color-Light-blue, #B8CBFC); */
}


.mask2 {
    -webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);
    mask-image: radial-gradient(circle, black 0px, rgba(0, 0, 0, 0.5) 0px);
}

.div-mask {
    mask: none;
}

.gif-size {
    width: 69px;
    height: 90px;
    flex-shrink: 0;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    mix-blend-mode: darken;
}

.loadingDiv {
    display: flex;
    width: 300px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 6px;
    background: var(--Apps-Background-Color-White, #FFF);

    /* Popup shadow */
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.14);
}

.loadingEl {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.loadingTextsize {
    color: var(--apps-texts-icons-color-light-black, #303030);
    text-align: center;

    /* Apps/Title/Small title 18 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
